body{
    background-color: #F5EFE6;
}

nav {
    background-color: #BCCEF8; 
    height: 72px;
    width: 1235px;
    left: 138px;
    right: 139px;
    top: 24px;
    border-radius: 10px;
    position: absolute;


}

nav .menu{
    list-style-type: none;
    display: flex;
    
    
}

nav .menu li{
    float:left;
}

nav .menu li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    margin: 15px;
    letter-spacing: 0em;
    line-height: 38px;
    font-size: 21px;
    text-align: left;
    font-family: 'Franklin Gothic Medium';
}


.image{
    list-style-type: none;
    display: flex;
    float: right;

}

.image a img{
    width: 40px;
    height: auto;
    margin: 0px 10px;
    


}

nav ul{
    float: left;
}

.image{
    margin-right: 10px;
}

.foto{
    height: 320px;
    width: 320px;
    margin:200px 258px auto 934px;
    border-radius: 80px;
    background-image:url("/img/ega.webp");
    background-size: cover;
    position: absolute;
    background-position: 0px;
    background-repeat: none;
}


.my-head{
    /* height: 169px;
    width: 554px; */
    /* margin: 289px auto auto 252px; */
    position: absolute;
    width: 554px;
    height: 169px;
    left: 252px;
    top: 250px;
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 56px;
    color: #000000;
   
   

}

.my-name{
    color: #1B91FF;
   
}

.button-load{
    
    display: inline-block;
    height: 54px;
    width: 252px;
    margin-top: 600px;
    margin-left: 59px;
    
    border-radius: 15px;
    background: rgba(188, 206, 248, 0.5);
backdrop-filter: blur(2px);
filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));

}

.wrap-button{

margin-left: 540px;
}

.quotes{
    position: relative;
    text-align: center;
    margin-top: 60px;
    font-size: larger;
    
}

/* .button-load text{
    margin: 10px 65px 12px 60px;
    font-family: Aleo;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    position: absolute;

} */


.arrow{
    color: #000000;
    position: absolute;
    margin: 672px 772px auto 740px;
}

#about h1{
    position: absolute;
    width: 163px;
    height: 36px;
    left: 674px;
    top: 798px;
    
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    
    
    color: #000000;
    
}

#about p{
    position: absolute;
width: 693px;
height: 84px;
left: 409px;
top: 879px;

font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 28px;
text-align: center;

color: #000000;
}

.prog-list h1{
    position: absolute;
width: 905px;
height: 58px;
left:50%;
transform: translate(-50%);
top: 1206px;
font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 43px;
line-height: 58px;

}

.prog-list{
    position: absolute;
    margin:1596px auto auto auto;
    padding: auto;
    width: 1072px;
    height: 870px;
    border: 1px solid black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: fixed;
}

.box-list{
    position: relative;
   display: block;
width: 601px;
height: 115px;
left: 50%;
transform: translate(-50%);
margin-top: 30px;

background: #BCCEF8;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 22px;


}

.box-percent{
    position: absolute;
width: 425px;
height: 20px;
margin-top: 47px;
margin-left: 136px ;
background: #EDEDED;
border-radius: 5px;
}

.box-spel{
    width: 53.82px;
    height: 20.97px;


background: #F6F54D;
border-radius: 5px;
}

.text-stat{

width: 116px;
height: 24px;
margin-left: 81px;
margin-top: -25px;

font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
}

.button-load{
    height: 54px;
    width: 252px;
left: 50%;
top: 608px;
transform: translate(-50%);
border-radius: 15px;
background-color: #BCCEF8; 
cursor: pointer;
}

.button-load b{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: inline-block;
    font-family: 'Aleo';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;

}

.wrap-box{
    margin-top: 30px;
}
/* Test */
.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
  }
  .ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
  }

  .m14-mod{
    position: absolute;
    width: 554px;
    height: 169px;
    left: 370px;
    top: 230px;
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 56px;
    color: #000000;
   
   
  }
  /* end */
